{% extends "index.html" %}

{% block content %}
    <h2>Dodaj gościa</h2>
    <br>
    <div id="new_guest">
        
        <form action="new_element" method="post" class="add">
            nazwa:<input type="text" name="ename" id=""><br>
            grupa:<select name="egroup" id="">
                {% for i in groups %}
                    <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select><br>
            podgupa: <select name="eugroup" id="">
                <option value="0">none</option>
                {% for i in ugroups %}
                    <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="prześlij">
        </form>
    </div>
    <div id="new_group">
        <form action="new_group" method="post" class="add">
            nazwa grupy: <input type="text" name="gname"><br>
            kolor: <input type="color" name="gcolor"><br>
            <input type="submit" value="Dodaj grupę">
        </form>
        <br>

        <ul id="grupy">
            {% for i in groups %}
                <li style='color:{{i.color}}'>{{i.name}}
                    <form action="delete_group" method="post" class="delete_form">
                        <input type="hidden" value="{{i.id}}" name="gid">
                        <input type="submit" value="X" class="delete_button">
                    </form>
                    <br>
                    <form action="edit_group" method="post" class="delete_form">
                        <input type="hidden" value="{{i.id}}" name="gid">
                        <input type="color" name="ucolor" value="{{i.color}}" class="update_color">
                        <input type="submit" value="Edytuj" class="update_button">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock  %}