{% extends "index.html" %}

{% block add_style %}
    <link rel="stylesheet" href="static/listy2.css">
{% endblock %}

{% block content %}
    <div id="listy">
        {% for l in lists %}
            <div class="list">
                <form action="show_list" method="post">
                    <input type="hidden" name="name" value="{{l.name}}">
                    <input type="hidden" name="id" value="{{l.id}}">
                    <input type="submit" value="{{l.name}}">
                </form>
            </div>
        {% endfor %}
    </div>
    <h1>Lista elementów</h1>
    <h5>łączna liczba elementów: {{count}}</h5>
    <ul id="lista">
        {% for e in el %}
            {% if e.u_group == 0 %}
                <li style="color:{{e.color}}">
                    {% if e.status == 1%}
                        {{e.name}}
                    {% else %}
                        <div class="disctive">{{e.name}}</div>
                    {% endif %}
                    {% if e.status == 0 %}
                        <form action="reload_element" method="post" class="delete_form">
                            <input type="hidden" value="{{e.id}}" name="eid">
                            <input type="submit" value="&#x21bb;" class="delete_button">
                        </form>
                    {% endif%}
                    <form action="delete_element" method="post" class="delete_form">
                        <input type="hidden" value="{{e.id}}" name="eid">
                        <input type="hidden" value="{{e.status}}" name="stat">
                        <input type="hidden" value="{{nazwa}}" name="list">
                        <input type="submit" value="X" class="delete_button">
                    </form>
                </li>
                <ul>
                    {% for en in el %}
                        {% if en.u_group != 0 %}
                            {% if en.u_group == e.id %}
                                <li style="color:{{en.color}};">
                                {% if en.status == 1%}
                                    {{en.name}}
                                {% else %}
                                    <div class="disctive">{{en.name}}</div>
                                {% endif %}
                                    
                                    {% if en.status == 0 %}
                                        <form action="reload_element" method="post" class="delete_form">
                                            <input type="hidden" value="{{en.id}}" name="eid">
                                                <input type="submit" value="&#x21bb;" class="delete_button">
                                                <input type="hidden" value="{{nazwa}}" name="list">
                                        </form>
                                    {% endif%}
                                    <form action="delete_element" method="post" class="delete_form">
                                        <input type="hidden" value="{{en.id}}" name="eid">
                                        <input type="hidden" value="{{en.status}}" name="stat">
                                        <input type="hidden" value="{{nazwa}}" name="list">
                                        <input type="submit" value="X" class="delete_button">
                                    </form>
                                </li> 
                            {% endif %}
                        {% endif %}
                    {% endfor %}    
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock  %}